#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

header {
  padding: 10px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

h1 {
  padding: 10px;
  text-align: center;
  
}

img#claude-icon {
  margin: auto;
  display: flex;
  justify-content: center;
}