#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  flex-direction: row;
  background-color: black;
  color: rgb(101, 202, 249);
  top:0%;
  height: 100%;
  width: 600px;

}

main {
  background-color: rgb(51, 49, 56);
  background-image: url('/assets/react.svg');
  filter: grayscale(100%);
  background-position: 210%;
  background-repeat:no-repeat;
  margin: 0;
  padding: 2rem;
  height: 20rem;
  color: white;
}

.logo {
  height: 6em;
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-right: 1rem;
  will-change: filter;
  transition: filter 300ms;
}

.headerText {
  padding: 0rem;
  font-size: 2rem;
  font-weight: bolder;
  text-align: left;
}

h1 {
  margin: 0;
  font-size: 2rem;
  text-align: left;
}

.react-facts {
  text-align: left;
  padding: 1.5rem;
}

.react-facts li {
  padding: 0.25rem;
}

.react-facts li::marker {
  color: rgb(101, 202, 249);
  size: 1rem;
}
