* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: whitesmoke;
}

h2 {
  padding-top:2rem;
  padding-left:2rem;
  padding-right:2rem;
}

p {
  margin: 2rem;
}